body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 48px;
}


/*

Namespace Prefixes:

login
	userlist
		user

*/

.login {
	text-align: center;
}

.login-caption {
	font-size: 32px;
}

.login-userlist {

}

.login-userlist-user {
	border: 1px solid red;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	border-radius: 10px;
}

.login-userlist-user-pic {
	width: 128px;
	height: 128px;
	background-size: contain;
}

.login-userlist-user-name {
	
}


